
.scroll-top-btn {
    position: fixed;
    bottom: 111px;
    right: 34px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background: orange;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 1000px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    z-index: 999;
    transition: all 0.3s ease;
}

.scroll-top-btn:hover {
    transform: scale(1.1);
}