.visit {
  display: flex;
  align-items: center;
  padding: 60px 40px;
  background: #0b0b0b;
  color: white;
  gap: 40px;
}
.visit > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  max-width: 1800px;
  margin: auto;
  overflow: hidden;
}
.visit-content {
  max-width: 500px;
  animation: slideInRight 1s ease-out forwards;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

@keyframes slideInRight {
  from { 
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.visit h2 {
  font-size: 36px;
  margin: 10px 0;
}

.visit p {
  opacity: 0.8;
  margin-bottom: 20px;
}

.info div {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.btn {
  margin-top: 20px;
  padding: 12px 20px;
  background: transparent;
  border: 1px solid orange;
  color: orange;
  border-radius: 6px;
  cursor: pointer;
}

.visit-image {
  border-radius: 12px;
  width: 400px;
  animation: slideInLeft 1s ease-out forwards;
}

@media (max-width: 768px) {
  .visit {
    padding: 40px 20px;
  }
  .visit > div {
    flex-direction: column;
    text-align: center;
  }
  .visit-image {
    width: 100%;
  }
  .info div {
    justify-content: center;
  }
}